@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 79, 112);
    padding: 20px;
}
.container{
    background-color: white;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
}
header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.form{
    margin-top: 30px;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    width: 100%;
    outline: none;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 1rem;
    color: grey;
    margin-top: 12px;
}
.input-box input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column{
    display: flex;
    gap: 15px;
}
.form :where(.gender-option, .gender){
    display: flex;
    column-gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}
.form .gender{
    column-gap: 5px;
}
.gender input{
    accent-color: crimson;
}
.gender label{
    color: #333;
}
.form :where(.gender input, .gender label){
    cursor: pointer;
}
.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.select-box select{
    height: 100%;
    width: 100%;
    border: none;
    color: grey;
    font-size: 1rem;
}
.Address :where(input, .select-box){
    margin-top: 15px;
}
button{
    height: 40px;
    width: 100%;
    background-color: rgb(232, 98, 125);
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
}
button:hover{
    background-color: rgb(142, 36, 58);
}

@media screen and (max-width: 500px) {
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender){
        row-gap:5px ;
    }
}